---
import Layout from '../layouts/Layout.astro';
import HelloButton from '../components/HelloButton';

export const prerender = true;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>This page is <span class="text-gradient">ALSO prerendered</span></h1>
    <HelloButton client:load />
    <div><a href="/prerendered">Prerendered page</a></div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
